__pycache__/
*.py[cod]
.DS_Store
.ipynb_checkpoints/
nnUNet_raw/
nnUNet_preprocessed/
nnUNet_results/
predictions/
checkpoints/
*.pth
*.nii
*.nii.gz
!data/masks/**/*.nii.gz
*.tif
*.tiff
wandb/
runs/
.idea/
